In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\vamsh\OneDrive\Desktop\Mlops_Financial\data\fraud_detection_dataset.csv')
df.head()

,timestamp,user_id,amount,location,device_type,is_fraud,age,income,debt,credit_score
0,2023-12-15 02:48:24,3cbf0b8a-c799-4c0e-9782-89272ab8fa2b,998.99,Grantfurt,Mobile,0,56,42524.98,8394.05,655
1,2023-10-30 11:08:37,3675ed98-6863-4bae-b089-6f0db2df006b,241.39,Kimberlychester,Tablet,0,52,69884.04,28434.06,395
2,2023-11-21 05:19:35,4be1043f-20ee-4ac5-a689-b25c6a1de50c,836.42,Gutierrezville,Desktop,0,58,126953.62,39121.78,496
3,2023-11-07 00:03:25,cad0b3c9-099f-479b-8043-6d5ecb4e1467,612.74,Markside,Desktop,0,19,128650.70,39652.48,612
4,2023-04-02 14:12:23,b6ebea7d-ba62-41d7-b042-3978a23fef8b,135.55,Anthonyshire,Tablet,0,59,102020.39,7439.81,302

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 10 columns):
 #   Column        Dtype
---  ------        -----
 0   timestamp     object
 1   user_id       object
 2   amount        float64
 3   location      object
 4   device_type   object
 5   is_fraud      int64
 6   age           int64
 7   income        float64
 8   debt          float64
 9   credit_score  int64
dtypes: float64(3), int64(3), object(4)
memory usage: 152.6+ MB

In [5]:
df.isnull().sum()

timestamp       0
user_id         0
amount          0
location        0
device_type     0
is_fraud        0
age             0
income          0
debt            0
credit_score    0
dtype: int64

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df['location'].value_counts()

location
East Michael        1713
Lake Michael        1702
New Michael         1626
Port Michael        1624
West Michael        1604
                    ...
New Jeanetteport       1
South Bradyshire       1
Lake Kylieshire        1
Lake Tonyastad         1
New Clintonview        1
Name: count, Length: 104592, dtype: int64

In [10]:
df.columns

Index(['timestamp', 'user_id', 'amount', 'location', 'device_type', 'is_fraud',
       'age', 'income', 'debt', 'credit_score'],
      dtype='object')

In [13]:
df['age'].min()

np.int64(18)

In [14]:
df['age'].max()

np.int64(70)

In [15]:
df['amount'].min()

np.float64(10.0)

In [16]:
df['amount'].max()

np.float64(4999.99)

In [17]:
df['income'].min(), df['income'].max()

(np.float64(20000.09), np.float64(149999.96))

In [18]:
df['credit_score'].min(),df['credit_score'].max()

(np.int64(300), np.int64(850))

In [19]:
df['debt'].min(), df['debt'].max()

(np.float64(0.04), np.float64(49999.98))

In [20]:
df['device_type'].unique()

array(['Mobile', 'Tablet', 'Desktop'], dtype=object)

In [29]:
import json
location_data = df['location'].unique().tolist()
print(len(location_data))

with open('locations_data.json','w') as file:
    json.dump(location_data,file)

104592

In [25]:
device_data = df ['device_type'].unique().tolist()
print(device_data)

with open('device_data.json','w') as file:
    json.dump(device_data,file)

['Mobile', 'Tablet', 'Desktop']

In [ ]:
amount	location	device_type	is_fraud	age	income	debt	credit_score